<div class="ui container">
<div class="ui one column stackable center aligned page grid">
  <div class="center aligned column" style="margin-top:50px;">
    <h1>MoveIt</h1>
    <p>Få prisförslag för din flytt.</p>
    <%= link_to 'Få Prisförslag', new_offer_path, class: 'ui huge green button' %>
  </div>
</div>
</div>
